<div class="container-fluid col-10">
  <div class="card-product">
    <h1>My Bookings</h1>
    <div class="row my-3 m-2">
      <% @bookings.each do |booking| %>
        <div class="col-md-6 px-3 d-flex align-self-stretch">
          <div class="row border rounded mb-4 shadow-sm position-relative d-flex bg-white">
            <div class="col p-4 d-flex flex-column align-self-center position-static">
              <h4><%= booking.gear.title %></h4>
                <p class="p-2">Duration:
                  <span class="text-white bg-secondary p-1"><%= booking.start_date %></span>
                    -
                  <span class="text-white bg-secondary p-1"><%= booking.end_date %></span>
                </p>
                <p class="p-2">Status:
                  <span class="text-white bg-secondary p-1"><%= booking.status %></span>
                  <% if ["Requested", "Accepted"].include? (booking.status) and booking.start_date > Date.today %>
                    <%= link_to "Cancel", cancel_gear_booking_path(booking.gear, booking), class: "btn btn-danger text-white" %>
                  <% end %>
                </p>

            </div>

            <div class="col-auto p-3">
              <%= image_tag booking.gear.img_url, width: "200", height: "250" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
