<div data-controller="calculation" class="container">
  <div class="card-show">
    <div class="card p-5">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt=""> %>
      <%= image_tag @gear.img_url, alt: "gear" %>
      <div class="card-info mt-5">
        <h1><%= @gear.title %></h1>
        <div class="d-flex align-items-center my-5">

          <h2>Owner:
          <%= link_to account_path(@gear.user) do %>
          <%= @gear.user.first_name %> <%= @gear.user.last_name %></h2>
          <% if defined? @gear.user.account.photo.key %>
            <%= cl_image_tag @gear.user.account.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% else %>
            <%= image_tag 'avatar.png', class: "avatar dropdown-toggle ms-3 mb-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% end %>
          <% end %>
        </div>
        <p class="mt-3"><%= @gear.description %></p>
        <div class="location-fontawesome d-flex align-items-center mt-5">
          <i class="fas fa-map-marked-alt fa-2x me-3"></i>
          <h4 class="mt-3"><%= @gear.address %></h4>
        </div>
        <div class="price-fontawesome d-flex mt-5">
          <i class="fas fa-money-bill-wave fa-2x me-3"></i>
          <h2>￥<%= @gear.price %>/day</h2>
        </div>
      </div>
    </div>
    <div class="form">
      <h2 class="mt-3 mb-5" >￥<span data-calculation-target="price"><%= @gear.price %></span> /day</h2>
      <%= render 'bookings/form'%>
      <hr>
      <div class="price text-end">
        <p>￥<%= @gear.price %> x <span data-calculation-target="days">1</span> day</p>
        <hr>
        <h2>Total ￥<span data-calculation-target="total"><%= @gear.price %></span></h2>
      </div>
    </div>
  </div>
</div>
