<div data-controller="calculation" class="container">
  <div class="card-show">
    <div class="card p-5">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt=""> %>
      <%= image_tag @gear.img_url, alt: "gear" %>
      <div class="card-info mt-5">
        <h1><%= @gear.title %></h1>
        <p class="mt-5"><%= @gear.description %></p>
        <h4 class="blockquote-footer mt-5"><%= @gear.address %></h4>
        <h2 class="mt-5">￥<%= @gear.price %>/day</h2>
      </div>
    </div>
    <div class="form">
      <h2 class="mt-3 mb-5" >￥<span data-calculation-target="price"><%= @gear.price %></span> /day</h2>
      <%= render 'bookings/form'%>
      <hr>
      <div class="price text-end">
        <p>￥<%= @gear.price %> x <span data-calculation-target="days">1</span> day</p>
        <hr>
        <h2>Total ￥<span data-calculation-target="total"><%= @gear.price %></span></h2>
      </div>
    </div>
  </div>
</div>
