<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "SNOARED - logo.png", size: '10x70' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <nav class="my-2 my-md-0 mr-md-3">

        <%if Booking.where(user_id: current_user.id).any? {|booking| booking.status == "Requested"} %>
        <span class="badge bg-warning text-dark">Waiting for owner</span>
        <% end %>
          <%= link_to "Home", gears_path, class: "p-2 text-dark" %>
          <% if current_user.roles.where(name: "admin").any? %>
            <%= link_to "All Booking", admin_bookings_path, class: "p-2 text-dark" %>
            <%= link_to "All Gear", admin_gears_path, class: "p-2 text-dark" %>
          <% else %>
            <%= link_to "My Booking", bookings_path, class: "p-2 text-dark" %>
          <% end %>
          <% if current_user.roles.where(name: "owner").any? %>
            <%= link_to "My Gear", owner_gears_path, class: "p-2 text-dark" %>
          <% end %>
        </nav>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <% if defined? current_user.account.photo.key %>
              <%= cl_image_tag current_user.account.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.account.nil? %>
                <%= link_to "Setting", new_account_path, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Setting", edit_account_path(current_user.account), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
