
<div class="container-fluid col-10">
  <%= form_tag gears_path, method: :get, class: 'd-flex align-items-center my-5' do %>
    <%= text_field_tag :q,
      params[:q],
      class: "form-control searchbar",
      placeholder: "Find a gear"
    %>
    <p class="m-0 mx-3">below</p>
    <%= text_field_tag :price,
          params[:price],
          class: "form-control searchbar",
          placeholder: "¥"
    %>
    <%= submit_tag "Search", class: "searchbox" %>
  <% end %>
<%= render 'shared/card-index'%>
</div>
