<div class="container">
  <h1>Add a new Gear</h1>

  <%= simple_form_for @gear do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :img_url %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.submit 'Save', class: "btn btn-danger text-light" %>
    <%= link_to 'Cancel', gears_path, class: 'btn btn-danger text-light' %>
  <% end %>
</div>
