<div class="container">
  <h1>Contact Owner</h1>

  <div class="card p-5">
    <h4>
      <%= @account.user.last_name %> <%= @account.user.first_name %> (<%= @account.company %>)
      <% if defined? @account.photo.key %>
        <%= cl_image_tag @account.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
      <% else %>
        <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
      <% end %>
    </h4>
    <div class="p-3"><%= @account.summary %></div>
    <h5>Contact Info:</h4>
    <ul>
      <li>address: <%= @account.address %></li>
      <li>phone: <%= @account.phone %></li>
      <li>email: <%= @account.email %></li>
    </ul>

    <div class="m-3">
      <%= simple_form_for @account do |f| %>
        <%= f.input :first_name, label: false %>
        <%= f.submit 'Send', class: "btn btn-danger text-light" %>
      <% end %>

      <div class="m-3 bg-light p-3 rounded">
        <div class="d-flex align-items-start flex-column">
          <p>From: Customer, DD/MM, YYYY hh:mm:ss</p>
          <p class="bg-secondary rounded p-3 text-white text-left">
            xxxxxxxxxxxxxxxxxxx
          </p>
        </div>

        <div class="d-flex align-items-end flex-column">
          <p>From: Owner, DD/MM, YYYY hh:mm:ss</p>
          <p class="bg-secondary rounded p-3 text-white">
            xxxxxxxxxxxxxxxxxxx
          </p>
        </div>

        <div class="d-flex align-items-start flex-column">
          <p>From: Customer, DD/MM, YYYY hh:mm:ss</p>
          <p class="bg-secondary rounded p-3 text-white text-left">
            xxxxxxxxxxxxxxxxxxx
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
